@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif !important;
}

/* ---------------HOMEPAGE & DEFAULTS----------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  margin: 10px 10px 0 10px;
}

.navbar div {
  display: flex;
  justify-content: space-between;
}

.navbar .list {
  padding: 0 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.nav-item a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.offcanvas-body a {
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.offcanvas-body a:hover {
  color: #006241 !important;
}

#cta {
  display: none;
}

#loc-d {
  display: none;
}

.navbar .btn-close {
  margin: 16px 4px 4px 320px !important;
}

.locator {
  display: flex;
  align-items: center;
  text-align: center;
}

.fa-solid {
  margin-right: 5px;
}

.store-locator {
  margin-right: 20px;
}

.cta1 {
  margin-right: 20px;
}

.locator:hover {
  color: #006241;
}

/* PRODUCT CARD STYLING */
.product-container {
  background-color: #d4e9e2;
  margin-top: 20px;
  border-radius: 10px;
}

.pc {
  border-radius: 10px;
}

.img-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.leadTxt,
.followTxt {
  text-align: center;
}

.text-container {
  text-align: center;
}

.text {
  font-size: 15px;
}

/* .image_col {
  height: 100px;
  width: 100px;
} */

.product-container {
  width: 100%;
}

.product-container2 {
  background-color: #eb6b5d;
}

.prod2 {
  color: white;
}

.prod2_description {
  color: white;
  font-size: 15px;
  text-align: center;
}

.product-container3 {
  background-color: #1f9c83;
}

.prod3_description {
  color: white;
  font-size: 15px;
  text-align: center;
}

.product-container4 {
  background-color: #ed676c;
}

#content {
  padding: 20px;
}

/* FOOTER STYLING */
.social-icons {
  display: flex;
}

.fa-brands {
  padding-right: 10px;
}

.fa-facebook:hover {
  color: #3b5998;
}
.fa-pinterest:hover {
  color: #e60023;
}
.fa-instagram:hover {
  color: #3f729b;
}
.fa-twitter:hover {
  color: #00acee;
}
/* -------------------HOMEPAGE & DEFAULTS END---------------- */

/* --------------MENU PAGE------------------------ */
.container-fluid {
  width: 100%;
}
.items-list {
  width: 40%;
}
.products-list {
  width: 60%;
}
.sidebar {
  text-decoration: none;
}
.sidebar {
  margin-left: 2rem;
}
.lit {
  margin-left: 1em;
}

.lit a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.card {
  width: 12.5rem;
}

.card img {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.lazy {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
/* --------------MENU PAGE ENDS-------------------- */

/* MOBILE RESPONSIVE DESIGN STYLING */
@media screen and (max-width: 600px) {
  #loc {
    display: none;
  }
  #loc-d {
    display: contents;
  }
  #cta {
    display: contents;
  }
  #icon {
    display: none;
  }
  .offcanvas-body {
    text-align: center;
    margin-left: 220px;
    padding: 30px;
  }
  .offcanvas-body li a {
    padding: 10px;
    font-size: 15px;
  }
  #st {
    margin: 5px;
  }
  #butt {
    margin: 4px;
    display: inline;
  }
  .product-container,
  .product-container2,
  .product-container3 {
    align-items: center;
    display: flex;
    padding: 18px;
  }
  .image1,
  .image2,
  .image3,
  .image4 {
    margin: 10px 30px 10px 30px;
  }

  .img-right,
  .img-left {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .footer {
    text-align: center;
    align-items: center;
  }

  .f-logo,
  .icons {
    margin: auto !important;
  }
  .icons {
    margin-left: 33% !important;
    padding: 10px;
  }
  .sidebar {
    display: none !important;
  }
  .products {
    width: 100%;
  }
  .card {
    width: 10rem;
    align-items: center;
    text-align: center;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
}

/* IPAD RESPONSIVE STYLING */
@media screen and (min-width: 601px) and (max-width: 850px) {
  #loc {
    display: none !important;
  }
  #loc-d {
    display: contents;
  }
  #cta {
    display: contents;
  }
  #icon {
    display: none;
  }
  .offcanvas-body {
    margin: 0 auto;
    padding: 20px;
  }
  #butt {
    margin: 10px 0 0 10px;
  }

  #st {
    margin: 10px;
  }
  .offcanvas-body li a {
    padding: 10px;
    text-align: center;
    align-items: center;
  }
  .product-container,
  .product-container2,
  .product-container3 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .image1,
  .image2,
  .image3,
  .image4 {
    margin: 15px 130px 15px 130px;
  }
  .sidebar {
    display: none !important;
  }
  .products {
    width: 100%;
  }
  .card {
    width: 10rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
}
